.galery__item {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  padding: 0;
}
