.footer__description {
  color: #545454;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 760px) {
  .footer__description {
    font-size: 14px;
  }
}
